<div>
  <span class="rating-stars" *ngIf="rate.includes('5')">
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
  </span>
  <span class="rating-stars" *ngIf="rate.includes('4')">
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star"></i>
  </span>
  <span class="rating-stars" *ngIf="rate.includes('3')">
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star"></i>
    <i class="ti-star"></i>
  </span>
  <span class="rating-stars" *ngIf="rate.includes('2')">
    <i class="ti-star full"></i>
    <i class="ti-star full"></i>
    <i class="ti-star"></i>
    <i class="ti-star"></i>
    <i class="ti-star"></i>
  </span>
</div>
